<div *ngIf="identity" class="container">
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">SP</a>
    <div class="form-inline">
        <div class="image-profile navbar-text mr-sm-2">
          <img src="{{ url + 'get-image-user/' + identity.image}}">
        </div>
        <span id="identity_name" class="navbar-text mr-sm-2">
          {{identity.name}}
        </span>
        <a class="btn btn-outline-secondary mr-sm-2" [routerLink]="['/my-profile']" [routerLinkActive]="['active']">Editar</a>
        <button (click)="logout()" class="btn btn-outline-success mr-sm-2" type="button">Salir</button>  
    </div>
  </nav> 
  <div class="row">
    <div class="col-sm-2">
      <div class="list-group">
        <a [routerLink]="['/artists', 1]" [routerLinkActive]="['active']" class="list-group-item list-group-item-action">Artistas</a>
        
      </div>
    </div>
    <div class="col-sm-10">
        <router-outlet></router-outlet>
    </div>
    
  </div>
</div>

<div *ngIf="!identity" class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Identificate</h1>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin(loginForm)" novalidate>
        <h1>Iniciar Session</h1>
        <div class="alert alert-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </div>
        <div class="form-group">
          <label for="inputEmailLogin">Correo Electronico</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Email" [ngClass]="{'is-invalid' : ((loginForm.controls.email.hasError('required') && loginForm.controls.email.touched) || (loginForm.controls.email.hasError('email') && loginForm.controls.email.touched))}">
          <small class="invalid-feedback" *ngIf="loginForm.controls.email.hasError('required') && loginForm.controls.email.touched"> 
            El Correo electronico es necesario
          </small>
          <small class="invalid-feedback" *ngIf="loginForm.controls.email.hasError('email') && loginForm.controls.email.touched"> 
            El Correo electronico no tiene el formato correo@email.com
          </small>
        </div>
        <div class="form-group">
          <label for="inputPasswordLogin">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid' : ((loginForm.controls.password.hasError('required') && loginForm.controls.password.touched) || (loginForm.controls.password.hasError('minLength') && loginForm.controls.password.touched))}">
          <small class="invalid-feedback" *ngIf="loginForm.controls.password.hasError('required') && loginForm.controls.password.touched"> 
            La clave es necesaria
          </small>
          <small class="invalid-feedback" *ngIf="loginForm.controls.password.hasError('minLength') && loginForm.controls.password.touched"> 
            La clave debe tener minimo 5 caracteres
          </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Entrar</button>
      </form>
    </div>
    <div class="col-sm">
      <h1>Registrate</h1>
      <div class="alert alert-warning" *ngIf="alertRegister">
        {{alertRegister}}
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister(registerForm)" novalidate>
        <div class="form-group">
          <label for="inputName">Nombre</label>
          <input type="text" class="form-control" formControlName="name" placeholder="Nombre" [ngClass]="{'is-invalid' : (registerForm.controls.name.hasError('required') && registerForm.controls.name.touched)}">
          <small class="invalid-feedback" *ngIf="registerForm.controls.name.hasError('required') && registerForm.controls.name.touched"> 
            El nombre es requerido
          </small>
        </div>
        <div class="form-group">
          <label for="inputEmail">Correo Electronico</label>
          <input type="email" class="form-control" formControlName="email" placeholder="Correo Electronico" [ngClass]="{'is-invalid' : ((registerForm.controls.email.hasError('required') && registerForm.controls.email.touched) || (registerForm.controls.email.hasError('email') && registerForm.controls.email.touched))}">
          <small class="invalid-feedback" *ngIf="registerForm.controls.email.hasError('required') && registerForm.controls.email.touched"> 
            El Correo electronico es necesario
          </small>
          <small class="invalid-feedback" *ngIf="registerForm.controls.email.hasError('email') && registerForm.controls.email.touched"> 
            El Correo electronico no tiene el formato correo@email.com
          </small>
        </div>
        <div class="form-group">
          <label class="control-label" for="inputPassword">Password</label>
          <input type="password" class="form-control" formControlName="password" placeholder="Password" [ngClass]="{'is-invalid' : ((registerForm.controls.password.hasError('required') && registerForm.controls.password.touched) || (registerForm.controls.password.hasError('minLength') && registerForm.controls.password.touched))}">
          <small class="invalid-feedback" *ngIf="registerForm.controls.password.hasError('required') && registerForm.controls.password.touched"> 
            La clave es necesaria
          </small>
          <small class="invalid-feedback" *ngIf="registerForm.controls.password.hasError('minLength') && registerForm.controls.password.touched"> 
            La clave debe tener minimo 5 caracteres
          </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Registrar</button>
      </form>
    </div>
  </div>
</div>

<footer>
  <p class="text-center">APP version {{ version }}</p>
  <p class="text-center">
    <a href="http://www.websoftmerida.com" target="_blank">develop by websoftmerida</a>
  </p>
</footer>